a {
    text-decoration: none;
}

.cover_image {
    /*background-image: url("https://image.ibb.co/dFJa00/home-cover-copy.jpg");*/
    background-image: url("https://2.bp.blogspot.com/-FF3oie3C8pc/W9xvzTmgGXI/AAAAAAAANcg/UYbL4gX8kScRaW2h4SD2J0P3qsIS0I7KgCLcBGAs/s1600/Attach0_2%2Bcopy%2B2.jpg");
	height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-transparent-main-color {
    background: rgba(0, 0, 0, 0.6);
    color:#fff!important;
  }

  .gr-button {
    /*background-color: rgb(0, 0, 0);*/
    border-radius: 0px;
    padding: 10px;
    display: inline-block;
    text-align: center;
    color: white;
    font-weight: bold;
}

.border-white {
    border: 3px solid white;
}